<h1>Fill Out This Form</h1>

<!--this, collect data, send to server using POST, to /hello-->
<form action="/hello" method="POST">
    A Greeting: <input type="text" name="greet">
    <br/>
    Your Name: <input type="text" name="name">
    <br/>
    <input type="submit">
</form>
