$def with (greeting)
$if greeting:
    I just wanted to say <em style="color: green; font- size: 2em;">$greeting</em>.
$else:
    <em>Hello</em> World!
<a href="http://localhost:8080/hello">Back to form</a>
